/* website color palate:
gainsboro - (213,220,229)
silver - (204,184,180)
gray - (155,132,127)
slategray -(98,113,163)
darkslategray -(49,47,62) */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Serif&display=swap');

*{
      box-sizing: border-box;
}
/* links */
a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:yellow;
    font-weight: bold;
}
/*  */

body{
    background-color: rgb(254,251,234);
    font-family: 'Inter', sans-serif;
}

/* header/logo  */
header {
    border: black 1px dashed;
    width: 100%;
    font-family: 'Noto Serif', serif;
    
}

button{
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin: .4em;
    border: 1px solid white;
    color:black;
    background-color: rgb(204,184,180);
    text-align: center;
 }

/* navigation */
nav{
    border: cyan 1px solid;
    width: 100%;
    background-color: rgba(49,47,62,1);
    text-align: center;
    padding: 10px 0px;
   
}

nav a{
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin: .4em;
    border: 1px solid white;
    color:black;
    background-color: rgb(204,184,180);
    text-align: center;
}

/* sidebars */
.sidebar{
    display:flex;
    flex-direction: column;
    background-color:rgba(213,220,229,1);
    border: 1px dashed pink;

    padding: 0em 2em;
    flex: 0 1 auto
}

.sidebar-top{
    border: 1px dashed orange;
    display:flex;
    padding: 0em 2em;
    justify-content: center ;
}

.sidebar-bottom{
    border: 1px dashed greenyellow;
    display:flex;
    padding: 0em 2em;
    flex-direction: column;
    background-color: rgb(204,184,180);
    text-align: left
}

.sidebar-bottom li{
    padding-bottom: 1em;
    list-style-type:none;
    
}

/* flexcontainers */
.flex-container{
    display:flex;
    flex-direction: row;
    flex: 0 1 auto;  
   
}
.main{
    border: 1px solid fuchsia;
    display:flex;
    margin-right:5 em;
    flex-direction:column;
    flex:  0 1 auto;
    padding: 3em 3em;
    background-color: rgb(155,132,127);
    color:rgb(213,220,229);
    
    
}

/* main, or left side elements */
.main-top{
    border:1px solid black;
    margin-top: -1em;
    background-color:rgb(98,113,163)
}

.main-middle{
    border: 1px solid navy;
    display:flex;
    flex:  0 1 auto;
    background-color: rgb(98,113,163);
}

.main-bottom{
    border: 1px solid darkolivegreen;
    display:flex;
    flex:  0 1 auto;
    background-color: rgb(98,113,163);
}



.main-right{
    /* display:flex; */
    border: grey dashed 1px;
    background-color:rgb(98,113,163);
    
}
.main-left{
    /* display:flex; */
    border: white dashed 1px;
    background-color:rgb(98,113,163);
    
}

.main-left h3{
    color:grey;
    font-weight: bold;
}
/* footer elements */
footer{
    width: 100%;
    background-color: rgba(49,47,62,1);
    position: absolute;
    display:inline;
    text-align:center;
    padding: .3em 1.5em;
}

footer a{
    color: grey;
    padding: 0em 2em;
}

.contact-email{
    color:green;
}
.disclaimer{
    text-transform: uppercase;
    color:white;
    font-size: x-small
 }
/*  */

h3 {
    justify-content: center ;
    margin-bottom: .1em;
  
}

img{
    text-align: center;
    margin-top: 2em;
}
/* resume specific */
span{
     text-align: center;
 }
 
.skills-header{
    text-align:center;
}

 .skills{
     /* display:flex;
     flex-direction: column; */
     column-count: 4;
     column-fill: balance;
 }

 .resume-bottom{
     border: 1px solid goldenrod;
     margin-left: .6em;
 }

 .job1, .job2, .job3, .job4, p{
    margin: .1em;
}
 /*  */

 @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }