*{
    font-family: Arial, Helvetica, sans-serif;
    
}
a{
    text-decoration: none;
}
header {
    border: black 1px dashed;
    width: 100%;
    
}

nav{
    border: cyan 1px solid;
    width: 100%;
    
    text-align: center;
    padding: 10px 0px;
   
}

nav a{
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 3px;
    border: black 2px solid;
    text-align: center;
}

.flex-container{
    display:flex;
    flex-direction: row;
    flex: 0 1 auto;  
}

.sidebar{
    display:flex;
    flex-direction: column;
    border: 1px dashed pink;
    margin-left: 10px;
    margin-right: 12px;
    flex: 0 1 auto
}

.sidebar-top{
    border: 1px dashed orange;
    display:flex;
    margin-left: 10px;
    margin-right: 12px;
    justify-content: center ;
}

.sidebar-bottom{
    border: 1px dashed greenyellow;
    display:flex;
    margin: 0em 5em;
    flex-direction: column;
}

.main{
    border: 1px solid fuchsia;
    display:flex;
    margin-right:5 em;
    flex-direction:column;
    flex:  0 1 auto;
    padding: 3em 3em;
    
}
.contact-email{
    color:green;
}

.main-top{
    border:1px solid black;
    margin-top: -1em
}

.main-middle{
    border: 1px solid navy;
    display:flex;
    flex:  0 1 auto;
}

.main-bottom{
    border: 1px solid darkolivegreen;
    display:flex;
    flex:  0 1 auto;
}

.job1, .job2, .job3, .job4, p{
    margin: .1em;
}
.job2 {
    border:gold 1 px solid;
    
}
.job3 {
    border:green 1 px solid;
    
}
.job4 {
    border:navy 1 px solid;
   
}
.main-right{
    /* display:flex; */
    border: grey dashed 1px;
    
}
footer{
    border: 3px double peru;
    width: 100%;
    position: absolute
}

h3 {
    justify-content: center ;
    margin-bottom: .1em;
}

img{
    text-align: center;
}